body{
    background-color: #FFFAF0;
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;

}

a:hover {
    color: orange;
  

  }